[MESSAGES CONTROL]

disable=locally-disabled,fixme,too-few-public-methods,too-many-public-methods,invalid-name,global-statement,too-many-ancestors,missing-docstring,cyclic-import

[FORMAT]

max-line-length=228

ignore-long-lines=^.*((https?:)|(pragma:)|(TODO:)).*$

[SIMILARITIES]

min-similarity-lines=20

ignore-imports=yes

[REPORTS]

reports=no

msg-template={msg_id} ({symbol}):{line:3d},{column}: {msg}
